Repository capactio/hub-manifests, pull requests merged in 2021-07, with the labels that each got.

#7 Bump runners images before release
  manifests/implementation/runner/cloudsql/run.yaml
  manifests/implementation/runner/helm/install.yaml
  manifests/implementation/runner/helm/upgrade.yaml
  manifests/implementation/runner/terraform/apply-with-state.yaml
  manifests/implementation/runner/terraform/apply.yaml
  manifests/implementation/templating/jinja2/template.yaml
Labels: area/hub-manifests, dependencies

#11 Remove `$ocfRefs`, as this syntax was not supported by Capact
  manifests/core/interface/runner/generic/run.yaml
  manifests/core/type/networking/hostname.yaml
  manifests/core/type/networking/port.yaml
  manifests/core/type/networking/uri.yaml
  manifests/core/type/platform/kubernetes.yaml
  manifests/core/type/versioning/semver.yaml
  manifests/interface/analytics/elasticsearch/install.yaml
  manifests/interface/automation/concourse/change-db-password.yaml
  manifests/interface/automation/concourse/install.yaml
  manifests/interface/capactio/capact/upgrade.yaml
  manifests/interface/database/mongodb/install.yaml
  manifests/interface/database/postgresql/change-password.yaml
  manifests/interface/database/postgresql/create-db.yaml
  manifests/interface/database/postgresql/create-user.yaml
  manifests/interface/database/postgresql/install.yaml
  manifests/interface/productivity/mattermost/install.yaml
  manifests/interface/productivity/rocketchat/install.yaml
  manifests/interface/runner/argo/run.yaml
  manifests/interface/runner/cloudsql/run.yaml
  manifests/interface/runner/helm/install.yaml
  manifests/interface/runner/helm/upgrade.yaml
  manifests/interface/runner/terraform/apply-with-state.yaml
  manifests/interface/runner/terraform/apply.yaml
  manifests/interface/templating/jinja2/template.yaml
  manifests/interface/terraform/gcp/cloudsql/update.yaml
  manifests/type/analytics/elasticsearch/config.yaml
  manifests/type/analytics/elasticsearch/install-input.yaml
  manifests/type/automation/concourse/config.yaml
  manifests/type/automation/concourse/install-input.yaml
  manifests/type/capactio/capact/config.yaml
  manifests/type/database/mongodb/config.yaml
  manifests/type/database/postgresql/config.yaml
  manifests/type/platform/cloud-foundry.yaml
  manifests/type/productivity/mattermost/config.yaml
  manifests/type/productivity/rocketchat/config.yaml
  manifests/type/productivity/rocketchat/install-input.yaml
Labels: area/hub-manifests

#13 Use latest Terraform runner
  manifests/implementation/runner/terraform/apply-with-state.yaml
  manifests/implementation/runner/terraform/apply.yaml
Labels: area/hub-manifests, enhancement
