Repository capactio/hub-manifests, pull requests merged in 2021-08, with the labels that each got.

#15 Update wait func for k8s workloads
  manifests/implementation/capactio/capact/upgrade.yaml
Labels: area/hub-manifests, bug

#16 Fix manifest lint errors detected by CLI
  manifests/core/type/platform/kubernetes.yaml
  manifests/implementation/aws/elasticsearch/install.yaml
  manifests/type/analytics/elasticsearch/config.yaml
  manifests/type/automation/concourse/config.yaml
  manifests/type/aws/auth/credentials.yaml
  manifests/type/aws/rds/postgresql/install-input.yaml
  manifests/type/bitnami/mongodb/install-input.yaml
  manifests/type/capactio/capact/config.yaml
  manifests/type/capactio/capact/validation/download.yaml
  manifests/type/capactio/capact/validation/single-key.yaml
  manifests/type/capactio/capact/validation/update.yaml
  manifests/type/capactio/capact/validation/upload.yaml
  manifests/type/database/mongodb/install-input.yaml
  manifests/type/database/postgresql/config.yaml
  manifests/type/database/postgresql/database-input.yaml
  manifests/type/database/postgresql/database.yaml
  manifests/type/database/postgresql/user-input.yaml
  manifests/type/database/postgresql/user.yaml
  manifests/type/gcp/auth/service-account.yaml
  manifests/type/helm/chart/release.yaml
  manifests/type/platform/cloud-foundry.yaml
  manifests/type/productivity/mattermost/config.yaml
  manifests/type/productivity/mattermost/install-input.yaml
  manifests/type/productivity/rocketchat/config.yaml
  manifests/type/productivity/rocketchat/install-input.yaml
  manifests/type/rocketchat/helm/install-input.yaml
  manifests/type/runner/cloudsql/run-input.yaml
  manifests/type/runner/helm/install-input.yaml
  manifests/type/runner/terraform/apply-input.yaml
  manifests/type/runner/terraform/destroy-input.yaml
  manifests/type/terraform/release.yaml
  manifests/type/terraform/state.yaml
Labels: bug, area/hub-manifests

#19 Update manifest validation command on CI pipelines
  .github/workflows/branch-build.yaml
  .github/workflows/pr-build.yaml
Labels: bug, area/ci

#20 Validate manifests against latest Hub on CI
  .github/workflows/branch-build.yaml
  .github/workflows/pr-build.yaml
Labels: enhancement, area/ci, area/hub-manifests

#21 Use latest Jinja2 image for templating
  manifests/implementation/templating/jinja2/template.yaml
Labels: enhancement, area/hub-manifests

#22 Adjust manifests after input syntax changes
  manifests/implementation/aws/elasticsearch/install.yaml
  manifests/implementation/aws/rds/postgresql/install.yaml
  manifests/implementation/bitnami/mongodb/install.yaml
  manifests/implementation/capactio/capact/validation/io/additional-input.yaml
  manifests/implementation/mattermost/mattermost-team-edition/install.yaml
  manifests/implementation/rocketchat/install.yaml
Labels: area/hub-manifests, breaking
