Repository capactio/hub-manifests, pull requests merged in 2021-12, with the labels that each got.

#45 Use the latest CRD directly from the GitHub repo
  manifests/implementation/capactio/capact/upgrade.yaml
Labels: bug, area/hub-manifests

#46 Update validation commands
  .github/workflows/branch-build.yaml
  .github/workflows/pr-build.yaml
Labels: enhancement, area/cli, area/hub-manifests

#48 Update Code Owners
  CODEOWNERS
Labels: area/community

#47 Update Jinja2 image
  manifests/implementation/templating/jinja2/template.yaml
  manifests/type/capactio/capact/upgrade-input.yaml
Labels: bug, area/hub-manifests
