Repository capactio/hub-manifests, pull requests merged in 2022-02, with the labels that each got.

#54 Fix input artifacts names
  manifests/implementation/concourse/concourse/install.yaml
  manifests/implementation/mattermost/mattermost-team-edition/install.yaml
  manifests/implementation/postgresql/create-db.yaml
  manifests/implementation/runner/terraform/apply-with-state.yaml
  manifests/implementation/templating/jinja2/template.yaml
Labels: area/hub-manifests

#55 Nest Interface Policy under `interface` field
  examples/hello-world/policy.yaml
  manifests/type/aws/redis/install-input.yaml
  manifests/type/platform/nomad.yaml
Labels: enhancement, area/engine, area/hub-manifests, breaking

#57 Add built-in and Helm storage Types, adjust validation manifests
  manifests/core/type/hub/storage/neo4j.yaml
  manifests/implementation/capactio/capact/validation/action/passing-a.yaml
  manifests/implementation/capactio/capact/validation/action/passing-b.yaml
  manifests/type/helm/storage.yaml
Labels: enhancement, area/hub-manifests

#56 Fixes after validation of TypeInstances
  manifests/implementation/aws/rds/postgresql/install.yaml
  manifests/implementation/bitnami/postgresql/install.yaml
  manifests/implementation/capactio/capact/validation/action/update.yaml
  manifests/implementation/gcp/cloudsql/postgresql/install-0.1.0.yaml
  manifests/implementation/postgresql/create-db.yaml
  manifests/type/capactio/capact/validation/download.yaml
  manifests/type/capactio/capact/validation/single-key.yaml
  manifests/type/capactio/capact/validation/update.yaml
  manifests/type/capactio/capact/validation/upload.yaml
Labels: area/hub-manifests

#58 Update binary location in Google Storage
  .github/workflows/branch-build.yaml
  .github/workflows/pr-build.yaml
Labels: area/ci
