Repository capactio/hub-manifests, pull requests merged in 2022-03, with the labels that each got.

#61 Update storage backend image and delete unnecessary InterfaceGroup for AWS Secrets Manager
  manifests/implementation/aws/secrets-manager/storage/install.yaml
  manifests/interface/aws/secrets-manager.yaml
Labels: bug, area/hub-manifests

#62 Add driver and chartLocation for Helm storage
  manifests/type/helm/storage.yaml
Labels: enhancement, area/hub

#63 Introduce Helm storage backends installation manifests
  manifests/implementation/capactio/capact/validation/action/passing-b.yaml
  manifests/implementation/helm/storage/install.yaml
  manifests/interface/helm/storage.yaml
  manifests/interface/helm/storage/install.yaml
  manifests/type/helm/release/storage.yaml
  manifests/type/helm/storage.yaml
  manifests/type/helm/storage/install-input.yaml
  manifests/type/helm/template/storage.yaml
Labels: enhancement, area/hub-manifests

#60 Support for handle multiple backends
  manifests/implementation/aws/elasticsearch/install.yaml
  manifests/implementation/aws/rds/postgresql/install.yaml
  manifests/implementation/aws/redis/install.yaml
  manifests/implementation/aws/secrets-manager/storage/install.yaml
  manifests/implementation/bitnami/minio/install.yaml
  manifests/implementation/bitnami/mongodb/install.yaml
  manifests/implementation/bitnami/redis/install.yaml
  manifests/implementation/capactio/capact/validation/action/passing-b.yaml
  manifests/implementation/concourse/concourse/install.yaml
  manifests/implementation/gcp/cloudsql/postgresql/update.yaml
  manifests/implementation/helm/storage/install.yaml
  manifests/implementation/mattermost/mattermost-team-edition/install.yaml
  manifests/implementation/minio/mc/create_bucket.yaml
  manifests/implementation/postgresql/change-password.yaml
  manifests/implementation/postgresql/create-db.yaml
  manifests/implementation/postgresql/create-user.yaml
  manifests/implementation/rocketchat/install.yaml
  manifests/implementation/runner/helm/install.yaml
  manifests/implementation/runner/helm/upgrade.yaml
  manifests/implementation/runner/terraform/apply-with-state.yaml
  manifests/implementation/runner/terraform/apply.yaml
  manifests/implementation/templating/jinja2/template.yaml
  manifests/type/capactio/capact/validation/storage.yaml
Labels: area/hub-manifests

#64 Use Helm storage in Mattermost installation manifests
  manifests/implementation/bitnami/postgresql/install.yaml
  manifests/implementation/helm/storage/install.yaml
  manifests/implementation/mattermost/mattermost-team-edition/install.yaml
  manifests/implementation/postgresql/create-user.yaml
  manifests/implementation/runner/helm/install.yaml
  manifests/implementation/runner/helm/upgrade.yaml
  manifests/interface/helm/storage/install.yaml
  manifests/type/helm/storage/install-input.yaml
  manifests/type/runner/helm/install-input.yaml
  manifests/type/runner/helm/upgrade-input.yaml
Labels: enhancement, area/hub-manifests
