Repository capactio/hub-manifests, pull requests merged in 2022-01, with the labels that each got.

#49 Fix icons in InterfaceGroup, minor fixes to schemas
  manifests/core/interface/runner/generic.yaml
  manifests/implementation/concourse/concourse/install.yaml
  manifests/implementation/mattermost/mattermost-team-edition/install.yaml
  manifests/implementation/postgresql/create-user.yaml
  manifests/interface/analytics/elasticsearch.yaml
  manifests/interface/automation/concourse.yaml
  manifests/interface/capactio/capact.yaml
  manifests/interface/capactio/capact/examples/simple.yaml
  manifests/interface/capactio/capact/examples/typeinstance.yaml
  manifests/interface/capactio/capact/validation/action.yaml
  manifests/interface/capactio/capact/validation/hub.yaml
  manifests/interface/database/mongodb.yaml
  manifests/interface/database/object/aws/s3.yaml
  manifests/interface/database/postgresql.yaml
  manifests/interface/database/redis.yaml
  manifests/interface/productivity/mattermost.yaml
  manifests/interface/productivity/rocketchat.yaml
  manifests/interface/runner/argo.yaml
  manifests/interface/runner/cloudsql.yaml
  manifests/interface/runner/helm.yaml
  manifests/interface/runner/terraform.yaml
  manifests/interface/templating/jinja2.yaml
  manifests/interface/terraform/gcp/cloudsql.yaml
  manifests/type/capactio/capact/upgrade-input.yaml
Labels: enhancement, area/hub-manifests

#50 Make Capact upgrade schema more relaxed
  manifests/type/capactio/capact/upgrade-input.yaml
Labels: bug, area/hub-manifests

#51 Improve Input JSON schemas
  manifests/implementation/bitnami/postgresql/install.yaml
  manifests/interface/capactio/capact/examples/simple.yaml
  manifests/interface/capactio/capact/examples/typeinstance.yaml
  manifests/interface/capactio/capact/validation/action.yaml
  manifests/interface/capactio/capact/validation/hub.yaml
  manifests/interface/database/object/aws/s3.yaml
  manifests/interface/database/object/aws/s3/create_bucket.yaml
  manifests/interface/database/object/aws/s3/install.yaml
  manifests/type/automation/concourse/install-input.yaml
  manifests/type/database/object/aws/s3/install-input.yaml
  manifests/type/database/postgresql/change-password-input.yaml
  manifests/type/database/postgresql/config.yaml
  manifests/type/database/postgresql/install-input.yaml
  manifests/type/database/redis/install-input.yaml
  manifests/type/gcp/cloudsql/update-input.yml
  manifests/type/productivity/mattermost/install-input.yaml
Labels: bug, enhancement, area/hub-manifests

#52 Adjust GitHub workflows to new populator scheme
  .github/workflows/branch-build.yaml
  .github/workflows/pr-build.yaml
Labels: area/ci, area/cli

#53 Simplify Capact hello world examples
  examples/hello-world/README.md
  examples/hello-world/policy.yaml
  examples/simple/README.md
  examples/simple/policy.yaml
  examples/typeinstance/README.md
  examples/typeinstance/policy.yaml
  manifests/attribute/capactio/examples/be-positive.yaml
  manifests/implementation/capactio/capact/examples/simple/greet.yaml
  manifests/implementation/capactio/capact/examples/simple/say.yaml
  manifests/implementation/capactio/capact/examples/simple/scream.yaml
  manifests/implementation/capactio/capact/examples/typeinstance/say.yaml
  manifests/implementation/capactio/examples/greet.yaml
  manifests/implementation/capactio/examples/hello.yaml
  manifests/implementation/capactio/examples/ricky.yaml
  manifests/interface/capactio/capact/examples/simple/say.yaml
  manifests/interface/capactio/capact/examples/typeinstance.yaml
  manifests/interface/capactio/capact/examples/typeinstance/say.yaml
  manifests/interface/capactio/examples.yaml
  manifests/interface/capactio/examples/greet.yaml
  manifests/interface/capactio/examples/say.yaml
  manifests/type/capactio/examples/message.yaml
Labels: enhancement, area/hub-manifests
