Repository capactio/hub-manifests, pull requests merged in 2022-05, with the labels that each got.

#68 Update manifests
  manifests/implementation/aws/elasticsearch/install.yaml
  manifests/implementation/aws/rds/postgresql/install.yaml
  manifests/implementation/aws/redis/install.yaml
  manifests/implementation/bitnami/minio/install.yaml
  manifests/implementation/bitnami/mongodb/install.yaml
  manifests/implementation/bitnami/postgresql/install.yaml
  manifests/implementation/bitnami/redis/install.yaml
  manifests/implementation/concourse/concourse/install.yaml
  manifests/implementation/elastic/elasticsearch/install.yaml
  manifests/implementation/gcp/cloudsql/postgresql/install-0.2.0.yaml
  manifests/implementation/gcp/cloudsql/postgresql/update.yaml
  manifests/implementation/mattermost/mattermost-team-edition/install.yaml
  manifests/implementation/rocketchat/install.yaml
  manifests/implementation/runner/helm/install.yaml
  manifests/implementation/runner/terraform/apply-with-state.yaml
  manifests/implementation/runner/terraform/apply.yaml
  manifests/type/analytics/elasticsearch/config.yaml
  manifests/type/containerization/kubernetes/kubeconfig.yaml
  manifests/type/database/object/aws/s3/config.yaml
  manifests/type/database/redis/install-input.yaml
  manifests/type/runner/terraform/apply-input.yaml
  manifests/type/runner/terraform/destroy-input.yaml
Labels: bug, area/hub-manifests

#70 Fix manifests after fixing lost backend ID
  manifests/implementation/bitnami/minio/install.yaml
  manifests/implementation/bitnami/mongodb/install.yaml
  manifests/implementation/bitnami/postgresql/install.yaml
  manifests/implementation/bitnami/redis/install.yaml
  manifests/implementation/concourse/concourse/install.yaml
  manifests/implementation/mattermost/mattermost-team-edition/install.yaml
  manifests/implementation/rocketchat/install.yaml
Labels: area/hub-manifests

#71 Add id field for update TypeInstance
  manifests/implementation/capactio/capact/validation/action/passing-a.yaml
  manifests/implementation/capactio/capact/validation/action/passing-b.yaml
  manifests/type/capactio/capact/validation/update.yaml
Labels: enhancement

#72 Update Terraform Runner image and fix GCP SA Type
  manifests/implementation/runner/terraform/apply-with-state.yaml
  manifests/implementation/runner/terraform/apply.yaml
  manifests/type/gcp/auth/service-account.yaml
Labels: bug, enhancement, area/hub-manifests

#73 Support for kubeconfig TypeInstance ID in Helm storage
  manifests/implementation/helm/storage/install.yaml
  manifests/implementation/runner/helm/install-static.yaml
  manifests/implementation/runner/helm/install.yaml
  manifests/implementation/runner/helm/upgrade.yaml
  manifests/interface/helm/storage/install.yaml
  manifests/type/helm/storage/install-input.yaml
Labels: area/hub-manifests
